@import '../../Utils/Parcels/mixins';
#slideWidth {
  // min-width: 1240px;
  margin: 0 auto;
  filter: brightness(80%) contrast(120%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.caroussel {
  @include flexMid(row, center, center);
  max-width: 1240px;
  height: 415px;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  margin: 0 auto;
  margin-bottom: 30px;
  @media screen and (max-width: 425px) {
    height: 255px;
  }

  .slider {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    object-fit: cover;

    &.active {
      display: block;
    }
  }
  .arrow {
    cursor: pointer;
    z-index: 1;

    .arrow_right {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 0 5px #28272780;
      width: auto;
      @media screen and (max-width: 425px) {
        width: 10%;
      }
    }
    .arrow_left {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 0 5px #28272780;
      @media screen and (max-width: 425px) {
        width: 10%;
      }
    }
  }
  .counter {
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 10px;
  }
}
