@import '../../Utils/Parcels/mixins';
.collapse {
  @include flexMid(row, space-between, baseline);
  max-width: 1240px;
  margin: auto;
  color: white;
  gap: 20px;
  @media screen and (max-width: 425px) {
    @include flexMid(column, center, baseline);
    width: auto;
  }

  .collapse_global {
    margin-bottom: 30px;
    width: 100%;

    h3 {
      margin: 0;
      padding: 3px 10px 3px 10px;
    }
    p,
    ul {
      color: black;
      // width: 520px;
      font-family: Montserrat;
      font-size: clamp(14px, 1.8vw, 18px);
      font-style: normal;
      font-weight: 400;
      padding-left: 15px;
      li {
        list-style-type: none;
      }
    }
    .collapse_button {
      cursor: pointer;
      @include flexMid(row, space-between, center);
      width: auto;
      background-color: #ff6060;
      border-radius: 10px;
      margin: 0;
      font-family: Montserrat;
      font-size: clamp(14px, 1.8vw, 18px);
      font-weight: 700;
      position: static;
      &:hover {
        box-shadow: 0 2px 5px rgb(112, 20, 20);
      }
      .collapse_arrow {
        rotate: 0deg;
        padding: 3px 10px 3px 10px;
      }
      .collapse_arrow.rotate {
        transform: rotateX(180deg);
      }
    }
  }
}
