@import '../../Utils/Parcels/mixins';

.gallery {
  @include flexMid(row, space-around, center);
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
  margin: auto;
  max-width: 1140px;

  @media screen and (max-width: 425px) {
    padding-right: 5px;
    padding-left: 5px;
    padding: 20px;
  }
}
