@import '../../Utils/Parcels/mixins';

footer {
  @include flexMid(column, flex-end, center);
  margin-top: 30px;
  color: white;
  background-color: black;
  height: 209px;
  .comment {
    margin-top: 50px;
  }
}
